@use "../global" as *;

.peak-bagging-historic-county-tops {

  .nav-item {
    flex-grow: 1;
  }

  .nav-link {
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    width: 100%;
  }
}
