.page-template-page-peakbagging {

  .fixed-bottom {
    float: left;
    position: relative;
    width: 268px;
  }

  footer {

    .content-area {
      max-width: initial;
      padding-left: 25px;
    }
  }
}
