@use "../global" as *;

.page-template-page-peakbagging {

  header,
  .drawer {
    display: none;
  }

  .site-branding {
    align-items: center;
    display: flex;
  }

  .branding-logo {
    position: relative;
  }
}

.header {
  border-bottom: 1px solid $light-gray;
}
