.peakbagging-trophy-cabinet {

  .card {
    border: initial;
    margin-bottom: 20px;
  }

  .card-body {
    text-align: center;
  }

  .county-top-badge {
    background-color: transparent;
    margin-bottom: 20px;
    max-width: 150px;
    width: 100%;
  }
}
